body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 4fr 1fr;
    
    font-family: Arial, sans-serif;
    margin: 0;
}

header, main, aside, footer {
    padding: 5px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #91c8ff;
    grid-column: 1 / span 2;
}

main {
    background-color: #7da9d5;
    grid-column: 1 / 2;
}

aside {
    background-color: #007fff;
    grid-column: 2 / 3;
}

footer {
    background-color: #588ec3;
    grid-column: 1 / span 2;
}
